/* styles.css - Challenge #1 (Skeleton) */
* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: aliceblue;
    margin: 0 0;
}

.site-header{
    text-align: center;
}

h1 {
    color: red;
}

.hero{
    border: 2px solid black;
    border-radius: 10px 10px;
    width: 400px;
    height: auto;
    margin: auto;
    background-color: white;
}

#mascot-image{
    width: 400px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about{
    margin: 20px 20px;
}

.actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;

}
button {
    color: white;
    font-size: 20px;
    border-radius: 10px 10px;
    border: 0px;
    padding: 10px 20px;

}
.buy-tickets{
    background-color: lime;
    box-shadow: -10px 10px 10px turquoise;
}

.make-donation{
    background-color: blue;
    box-shadow: -10px 10px 10px hotpink;

}